.env
.env.*
/vendor
/node_modules
auth.json
/.phpunit.result.cache
/.idea
/.git
/public/storage
/storage/*.key
/storage/*.zip
/storage/debugbar
/storage/framework
/storage/logs/*
/tests
/README.md
/phpunit.xml
/server.php